* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
}
